<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arielle.mueller.ariellemueller_comp304lab2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lab 2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ariellemueller_COMP304Lab2">
        <activity android:name=".FinalActivityCash"></activity>
        <activity android:name=".HomeTypesMenuActivity" />
        <activity android:name=".FinalOrderActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".CheckOutActivity" />
        <activity android:name=".TownHouseActivity" />
        <activity android:name=".CondoActivity" />
        <activity android:name=".SemiDetachedActivity" />
        <activity android:name=".DetachedHomeActivity" />
        <activity android:name=".ApartmentActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>